body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "PT Serif", serif;
}
h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

section {
  padding-top: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.active {
  font-weight: 450;
  text-decoration: underline;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

#button-dark-mode.animate {
  animation: rotation 0.5s linear;
}

.hero-image {
  max-width: 834px;
}
.about-image {
  max-width: 362px;
}
